aiofiles
aiohttp
beautifulsoup4
datashader
deltalake
duckdb
duckdb-engine
fastapi
holoviews
html5lib
hvplot
ibis-framework[pandas,duckdb,polars]
ipykernel
ipywidgets
jupyterlab
loguru
lxml
matplotlib
mlflow
numpy
openpyxl
pandas
plotly
polars
prefect
psycopg
psycopg-binary
pyarrow
pydantic
pydantic-ai
pydantic-settings
pytest
pytest-asyncio
pytest-html
python-box
python-dotenv
pyyaml>=6
duckdb
requests
ruff
scalene
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
thefuzz
tqdm
uv
