aiofiles
aiohttp
aiosqlite
aim-mlflow
alphalens-reloaded
asyncpg
beautifulsoup4
datacompy
bokeh
# boto3
chromadb
crawl4ai
cvxpy
cyclopts
# databricks-sdk
datashader
deltalake
deepdiff
diskcache
docker
duckdb
duckdb-engine
extra-streamlit-components
fastapi
feature-engine
featuretools
feedparser
flaml
geopandas
gitpython
granian
great-expectations
great-tables
holoviews
html5lib
httpx
hvplot
ibis-framework[duckdb,polars,deltalake]
instructor
ipydatagrid
ipykernel
ipywidgets
joblib
jupyterlab
lightgbm
litellm
llama-index
loguru
lxml
markitdown
marvin
matplotlib
mlflow
modin
nautilus-trader
numba
numexpr
numpy
openai
openpyxl
optuna
orjson
pandas
pandas-datareader
pandas-market-calendars
playwright
plotly
polars
praw
prefect==3.1.10
prefect-docker
prefect-email
prefect-github
prefect-shell
prefect-slack
prophet
psycopg[binary]
pyarrow
pycaret
pycountry
pydantic
pydantic-settings
pyfolio-reloaded
pygithub
pygwalker
pymc
pytest
pytest-asyncio
pytest-html
python-box
python-dotenv
pyyaml
quantstats
redis
requests
ruff
scalene
schedule
scikit-learn
scipy
scrapy
seaborn
shap
snakeviz
sqlalchemy
statsmodels
streamlit
streamlit-aggrid
streamlit-extras
# supabase
sympy
tenacity
thefuzz
tinydb
tqdm
typer
uv
uvicorn
websockets
xlrd
xlwt
xlsxwriter
ydata-profiling
yellowbrick
