aiofiles
aiohttp
aim-mlflow
alphalens-reloaded
asyncpg
beautifulsoup4
datacompy
boto3
datashader
deltalake
diskcache
docker
duckdb
duckdb-engine
extra-streamlit-components
fastapi
feature-engine
featuretools
feedparser
flaml
geopandas
gitpython
great-expectations
holoviews
html5lib
hvplot
ibis-framework[pandas,duckdb,polars,postgres,deltalake]
ipydatagrid
ipykernel
ipywidgets
joblib
jupyterlab
langchain
lightgbm
llama-index
loguru
lxml
marvin
matplotlib
mlflow
modin
numba
numexpr
numpy
openai
openpyxl
pandas
pandas-datareader
pandas-market-calendars
playwright
plotly
polars
prefect
prefect-docker
prefect-email
prefect-github
prefect-shell
prefect-slack
prophet
psycopg-binary
pycaret
pycountry
pydantic
pydantic-settings
pyfolio-reloaded
pygithub
pytest
pytest-asyncio
pytest-html
python-box
python-dotenv
pyyaml
qpython3
requests
ruff
scalene
schedule
scikit-learn
scipy
scrapy
seaborn
snakeviz
sqlalchemy
statsmodels
streamlit
supabase
sympy
tenacity
thefuzz
tinydb
tqdm
typer
uv
xlrd
xlwt
xlsxwriter
ydata-profiling
