aiofiles
aiohttp
beautifulsoup4
diskcache
duckdb
duckdb-engine
fastapi
holoviews
html5lib
hvplot
ibis-framework[pandas,duckdb,polars]
ipykernel
ipywidgets
joblib
jupyterlab
loguru
lxml
matplotlib
numpy
openpyxl
pandas
plotly
polars
psycopg2
pyarrow
pydantic
pydantic-settings
python-box
python-dotenv
pyyaml>=6
duckdb
requests
ruff
schedule
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
thefuzz
tinydb
tqdm
typer
uv
xlrd
xlwt
xlsxwriter
