aiofiles
aiohttp
beautifulsoup4
diskcache
fastapi
holoviews
html5lib
hvplot
ipykernel
ipywidgets
joblib
jupyterlab
loguru
lxml
matplotlib
numpy
openpyxl
pandas
plotly
pyarrow
pydantic
pydantic-settings
python-box
python-dotenv
pyyaml>=6
duckdb
requests
ruff
schedule
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
thefuzz
tinydb
tqdm
typer
uv
xlrd
xlwt
xlsxwriter