aiofiles
aiohttp
aim-mlflow
alphalens-reloaded
beautifulsoup4
boto3
datashader
databricks
databricks-cli
databricks-sql-connector
diskcache
docker
duckdb
duckdb-engine
extra-streamlit-components
fastapi
feature-engine
featuretools
feedparser
flaml
geopandas
gitpython
holoviews
html5lib
hvplot
ibis-framework[pandas,duckdb,polars,postgres]
ipydatagrid
ipykernel
ipywidgets
joblib
jupyterlab
langchain
lightgbm
llama-index
loguru
lxml
marvin
matplotlib
mlflow
modin
numba
numexpr
numpy
openpyxl
pandas
pandas-datareader
pandas-market-calendars
playwright
plotly
polars
prefect
prefect-docker
prefect-email
prefect-github
prefect-shell
prefect-slack
prophet
psycopg
pycaret
pycountry
pydantic
pydantic-settings
pyfolio-reloaded
pygithub
pykx
pytest
pytest-asyncio
pytest-html
python-box
python-dotenv
pyyaml
qpython3
ray[all]
requests
ruff
scalene
schedule
scikit-learn
scipy
scrapy
seaborn
snakeviz
sqlalchemy
statsmodels
streamlit
supabase
sympy
tenacity
thefuzz
tinydb
tqdm
typer
uv
xlrd
xlwt
xlsxwriter
ydata-profiling
